body {
    font-size: 0;
    background-color: lightgrey;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
a {
    text-decoration: none;
    width: 234px;
    color: black;
}
.main {
    width: 1226px;
    height: 58px;
    margin: 0 auto;
}
ul,ol {
    list-style: none;
}
li {
    float: left;
    background-color: #fff;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    height: 260px;
    padding: 20px 0;
}
.left {
    float: left;
    width: 234px;
    height: 614px;
}
h2 {
    font-size: 22px;
    line-height: 58px;
    font-weight: normal;
}
h2>a {

    font-size: 16px;
    float: right;
    line-height: 58px;
    text-align: right;
}
.top {
    width: 1226px;
    height: 58px;
}
.right p {
    font-size: 12px;
    margin: 0 10px 10px;
    color: #b0b0b0;
}
h3 {
    width: 214px;
    height: 21px;
    color: black;
    font-size: 14px;
    line-height: 21px;
    margin: 0 10px 2px;
    font-weight: normal;
}
.right .money {
    margin: 0 10px 14px;
    color: #ff6700;
}
#a1 {
    font-size: 12px;
}
.top {
    width: 1226px;
    height: 58px;

}