/* 重置样式 */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
ul,ol{
    list-style: none;
}
.clearfix:after{
    content:"";
    font-size:0;
    display:block;
    height:0;
    visibility: hidden;
    clear: both;
}